<!DOCTYPE html>
<html>

<head>
    <title>Prototype Page</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <header>
        <h1>App Prototype</h1>
    </header>
    <nav>
        <h2>Function Index</h2>
        <ol>
            <li>로그인</li>
            <li>사용자 등록</li>
            <li>사용자 목록</li>
            <li>데이터 입력</li>
            <li>전체 테이블 표시</li>
            <li>개인 테이블 표시</li>
        </ol>
    </nav>
    <section>
        <article>
            <h3>로그인</h3>
            <form is="fetch-form" id="login-form" action="/token" method="post">
                <input name="username" type="text" autocomplete="username" placeholder="ID" />
                <input name="password" type="password" placeholder="Password" />
                <input type="submit" />
            </form>
        </article>
        <article>
            <h3>사용자 등록</h3>
            <form is="fetch-form" id="signup-form" action="/user" method="post">
                <input name="username" type="text" autocomplete="off" placeholder="ID" />
                <input name="password" type="password" autocomplete="new-password" placeholder="Password" />
                <input name="name" type="text" autocomplete="name" placeholder="Full Name" />
                <input type="submit" />
            </form>
        </article>
        <article>
            <h3>개인 테이블 표시</h3>
            <form is="fetch-form" action="/book" method="post">
                <input type="submit" />
            </form>
        </article>
    </section>
    <footer></footer>
    <script src="{{ url_for('static', path='/index.js') }}"></script>
</body>

</html>